$light:               #ffffff;
$light-gray:          #f2f2f2;
$black:               #000000;
$black-two:           #090909;
$black-three:         #202020;
$charcoal:            #0f1010;
$brownish-grey:       #656565;
$very-light-pink:     #e8e8e8;
$brand-yellow:        #efbb44;
$lemon:               #f5ff54;
$saffron:             #f9ba10;
$light-mustard:       #fbbf58;
$mango:               #ff9836;
$butterscotch:        #ffca3b;
$macaroni-and-cheese: #e9c135;
$blue:                #004fba;
$azure:               #19a3fa;
$azul:                #297ce5;
$sky-blue:            #60a6ff;
$sunset-red:          #ff4d53;

$primary-text-color: $brownish-grey;
$primary-bg-color: $light-gray;
$additional-bg-color: $azure;
$delete: $sunset-red;

$base-transition-interval: .25s;
