include ../node_modules/bempug/index
  - BEMPUG.modifier = '_';

//- blocks imports
include ./blocks/header/header
include ./blocks/main-table/main-table

doctype html
html
  include ./blocks/head/head
  body
    +b('app', {})
      +header
      section
        +main-table({}, table)
