@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap');

.header {
  $self: &;

  font-family: 'MuseoModerno', sans-serif;
  height: 100px;
  @include container();

  &__container {
    height: 100%;
    align-items: center;
    display: flex;
  }

  &__title {
    font-size: 32px;
    line-height: 1.5;
  }
}
